<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Confirmation</title>
</head>

<body>
    <div>
        <!-- Navigation Bar -->
        <nav class="w3-bar w3-white w3-large">
            <a href="home" class="w3-bar-item w3-button w3-orange w3-mobile"><i
                    class="fa fa-car w3-margin-right"></i>NEIT Car
                Rentals</a>
            <a href="reservation" class="w3-bar-item w3-button w3-mobile">Reservations</a>
            <a href="login" class="w3-bar-item w3-button w3-mobile">Login</a>
            <a href="register.hbs" class="w3-bar-item w3-button w3-mobile">Signup</a>
            <a href="#" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Contact Us</a>
        </nav>
    </div>
    <div class="form-container w3-margin-top w3-padding">
        <div class="w3-margin-top w3-padding">
            <div style="width: auto;height: 400px;">
                <div style="text-align: center;" >
                    <h1 class="w3-margin-top">Thank You</h1>
                    <br>
                    <i class='fas fa-check-circle' style='font-size:72px;color:green'></i>
                    <br>
                    <h2 class="w3-margin-top">Confirmation # 123456789</h2>
                    <br>
                    <a class="w3-button w3-blue w3-round-large" href="home">Return Home</a>
                    <br>
                    <br>
                    <a class="w3-button w3-red w3-round-large" href="">Cancel this rental</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>